@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Geologica';
  src: url('/font/Geologica/Geologica-VariableFont_CRSV\,SHRP\,slnt\,wght.ttf') format('truetype');
}

@font-face {
  font-family: 'RubikDirt';
  src: url('/font/Rubik_Dirt/RubikDirt-Regular.ttf') format('truetype');
}

@keyframes slideView {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes slideViewClose {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);

  }
}

@keyframes pageSlide {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}



.page-slide {
  animation: pageSlide .3s linear;
}



.singe_page_container {
  animation: slideView .1s linear;
}




.singe_page_container-closed {
  animation: slideViewClose .1s linear;
}

.food-title {
  position: relative;
  padding-bottom: 17px;
}

.cart-block>img {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  object-fit: cover;
}

.cart-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.right-line::before {
  content: url(/vectors/Vector.png);
  width: 100%;
  display: block;
  position: absolute;
  top: -17px;
  right: -100px;
}

.left-line::before {
  content: url(/vectors/Vector.png);
  width: 100%;
  display: block;
  position: absolute;
  top: -8px;
  transform: rotate(180deg);
  left: -100px;

}

.food-title::after {
  content: url(/vectors/Vector.png);
  width: 100%;
  display: block;
  position: absolute;
  bottom: -17px;
  right: -50px;
}



.text_white {
  position: absolute;
  color: #FFF;
  width: 100%;
  top: 0;
  text-align: center;
  font-variant-numeric: lining-nums proportional-nums;
  font-feature-settings: 'dlig' on;
  font-size: 48px;
  z-index: -1;
  font-style: normal;
  text-align: center;
  font-weight: 400;
  left: 1px;
}


.main-container {
  animation: faded .3s
}




.on-line::after {
  content: url(/vectors/Vector2.png);
  width: 100%;
  display: block;
  top: -20px;
  position: absolute;
}



@keyframes faded {
  from {
    transform: translateY(-50px);
    opacity: .8;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.my-food-swiper.swiper-slide img {
  border-radius: 50%;
}

.my-food-swiper.swiper-slide-active img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  transition: all .4s ease-in-out;
}

.my-food-swiper.swiper-slide-next img {
  transition: transform .4s ease-in-out;
  transform: rotate(45deg);
}

.popup-modal {
  background-image: url('/Back.webp');
  background-size: cover;
  background-repeat: no-repeat;
}


.my-food-swiper.swiper-slide-prev img {
  object-fit: cover;
  transition: transform .4s ease-in-out;
  transform: rotate(-45deg);
}

.food-desc {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.swiper {
  margin: 0 !important;
}

.sel-no {
  accent-color: transparent;
  user-select: none;

}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-image: url('/Back.webp');
  /* background-position: center; */
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}